body {
    background-color: rgb(224, 236, 236);

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    gap: 20px;
    padding: 10px;
}

header a {
    color: black;
    display: flex;
    gap: 20px;
    text-decoration: none;

}

* {
    padding: 0;
    margin: 0;
}

.search {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.patsha {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}

img {
    height: 200px;
    width: 250px;
    border-radius: 20px;
    padding: 15px;
}

.korol {
    display: flex;
    justify-content: center;
    
}

.korol a {
    text-decoration: none;
}

h1{
    font-size:300%;
    display: flex;
    justify-content: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

.back {
    background: white;
    padding: 20px;
    border-radius: 30px;
}

iframe {
    margin-left: 200px;
}

.korol{
    margin-bottom: 20px;
}