@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Londrina+Sketch&display=swap');

body {
    background-color: rgb(224, 236, 236)
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    gap: 10px;
}

footer {
    background-color: lightblue;
    margin-top: 200px;
    padding: 200px;
}

.foto {
    width: auto;
    height: 80px;
}

header a {
    color: black;
    display: flex;
    gap: 20px;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.search {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header {
    text-decoration: none;
}

header a :hover {
    color: white;
    transition: .2s;
}

.aron{
    display: flex;
    justify-self: center;
    gap: 50px;
    padding: 20px;
}

.container {
    width: 300px;
}

.dorama-img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}

.dorama {
    background: lightblue;
    width: fit-content;
    padding: 10px;
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
}

.dorama button {
    width: 100px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

main {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
}

.DORAMA {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}

.mysh {
    font-size: 20px;
}